.CheckoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.CheckoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.CheckoutProduct_info{
    padding-left: 20px;
}
.CheckoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}
.CheckoutProduct_rating{
    display: flex;
}
.CheckoutProduct_info > button{
    background-color: #f0c14b;
border: 1px solid;
margin-top: 10px;
border-color: #a88734 #f0c14b #f0c14b;
color: #111;
}