.checkout{
    display: flex ;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout_title{
    margin-left: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_ad{
    width: 100%;
    margin-bottom: 10px;
}