.footer {
  max-width: 1500px;
  margin: auto auto;
  margin-top: 10px;
  text-align: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-decoration: none;
  color: aliceblue;
  font-size: 15px;
  font-weight: 500;
  color: #ff9900;
}
.footer_setions {
  max-width: 100rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #323232;
}

.sections {
  margin: 20px;
  padding: 10px;
  height: 100%;
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  color: aliceblue;
}
.sections h6 {
  margin-bottom: 10px;
  font-size: 13px;
}
.sections h6:hover {
  color: #ff9900;
}
.sections p {
  margin: 1px;
}
.sections p:hover {
  color: #ff9900;
}

@media (max-width: 378px) {
  .off {
    display: none;
  }

  .dev {
    margin-top: 5rem;
    height: 10rem;
  }
  .footer_setions {
    width: 100%;
  }
  .sections {
    margin: 1px;
    padding: 10px;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
  }
  .sections h6 {
    color: #ff9900;
  }
}
