.home{
    max-width: 1100px;
    margin: auto auto;
}
.home_row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.home_row>*{
    flex: 1;
    /* flex-basis: 29%; */
}
@media (max-width: 378px) {
    .off{
        display: none;
    }
 
    .home_row{
        /* margin-left:2.5rem ; */
    }
    .heading{
        /* margin-left:6rem ; */
        /* max-width: 25rem; */

    }
 
}

