.home{
    max-width: 1500px;
    margin: auto auto;
}
.home_row{
    display: flex;
    z-index: 1;
    margin: 5px 5px;
    /* background-color: aliceblue; */
}

.home_image{
    width: 100%;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
   z-index: -1;
   margin-bottom: -150px;
}