.intro{
    display: flex;
    margin: 10px 15px;
    /* align-items: center; */
    height: 20rem;
}
 .showcase{
    width: 40rem;
    height: 100%;
}
.home_image{
    /* width: 100%;
    height: 100%; */
    object-fit: contain;

   /* z-index: -1; */
}
.categories{
    margin: 0 10px 0 0px;
    background-color: #FFFFFF;
    height: 100%;
    width: 14rem;
}
.category_icons{
    height: 10px;
    width: 1px;
}
.category_items{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 10px;

}
.category_items span{
font-size: 10px;
margin-left: 5px;
}
.right_section{
    margin-left: 10px;
    height: 100%;
    width: 17rem;
}
.right_section_content{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    /* height: 10rem; */
    
}
.right_section_content_items{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin: 3px; */
    padding-left: 10px;
}
.right_section_content_items img{
    /* border: 2px solid black; */
    height: 1.5rem;
    width: 1.5rem;
    padding-bottom: 10px;
}
.right_section_content_items .title{
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
    padding:0px 0px 0px opx;
}
.right_section_content_items .desc{
    font-weight: 400;
    font-size: 12px;
}

.right_section_ads{
    margin-top: 12px;
    width: 16rem;

}
.right_section_ads video{
    height: 9.4rem;
    width: 100%;
    /* object-fit: contain; */
}

/* TRANSITIONS */
.showcase {
    /* transition-duration: 2s; */
    animation-name: and;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  @keyframes and {
    0% {
        background: url("../images/jumia_images/Holiday-Savings-Slider-1.jpg") no-repeat center center / cover;

    }
    30% {
        background: url("../images/jumia_images/Holiday-Savings-Slider-4.jpg") no-repeat center center / cover;
    }
    
    65% {
        background: url("../images/jumia_images/Jumia-Prime-3-Slider.jpg") no-repeat center center / cover;
    }

    100% {
        background: url("../images/jumia_images/Holiday-Savings-Slider-1.jpg") no-repeat center center / cover;
    }
  }